[submodule "lib-src/libsndfile"]
	path = lib-src/libsndfile
	url = https://github.com/saucedacity/libsndfile
[submodule "lib-src/libflac"]
	path = lib-src/libflac
	url = https://github.com/xiph/flac
[submodule "lib-src/libvorbis"]
	path = lib-src/libvorbis
	url = https://github.com/xiph/vorbis
[submodule "lib-src/soundtouch"]
	path = lib-src/soundtouch
	url = https://github.com/saucedacity/soundtouch
[submodule "lib-src/libmad"]
	path = lib-src/libmad
	url = https://github.com/tenacityteam/libmad
