[submodule "vcpkg"]
	path = vcpkg
	url = https://codeberg.org/tenacityteam/vcpkg.git
	branch = tenacity
[submodule "lib-src/libnyquist"]
	path = lib-src/libnyquist
	url = https://codeberg.org/tenacityteam/libnyquist
[submodule "lib-src/pffft"]
	path = lib-src/pffft
	url = https://github.com/marton78/pffft
[submodule "lib-src/pffft2"]
	path = lib-src/pffft2
	url = https://github.com/marton78/pffft
