[submodule "vcpkg"]
	path = vcpkg
	url = https://codeberg.org/tenacityteam/vcpkg.git
	branch = tenacity
[submodule "lib-src/libnyquist"]
	path = lib-src/libnyquist
	url = https://codeberg.org/tenacityteam/libnyquist
