name: CMake Build

# Rules: Only run if there's a push to origin/main or a pull request to merge
# a branch into main. Any other branches will NOT be tested, so you must test
# them by yourself, but see #2 for details (this can (should) also be
# discussed there too). The only exception is for 'ci-fixes', having been
# dedicated for CI changes.
on:
  push:
    branches:
      - main # Test every time on main

    # Make an issue if you want any branches ignored
    # branches-ignore:

  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    env:
      AUDACITY_CMAKE_GENERATOR: ${{ matrix.config.generator }}
      AUDACITY_ARCH_LABEL: ${{ matrix.config.arch }}

      # Windows codesigning
      # This variables will be used by all the steps
      WINDOWS_CERTIFICATE: ${{ secrets.WINDOWS_CERTIFICATE }}
      WINDOWS_CERTIFICATE_PASSWORD: ${{ secrets.WINDOWS_CERTIFICATE_PASSWORD }}
      # Conan home location to be used for cache action
      CONAN_USER_HOME: "${{ github.workspace }}/conan-home/"
      CONAN_USER_HOME_SHORT: "${{ github.workspace }}/conan-home/short"
    strategy:
      fail-fast: false
      matrix:
        config:

          # Linux Config
          # Optimally, this could be the latest version, ideally LTS(right now 20.04)
        - name: Ubuntu
          os: ubuntu-latest
          arch: x86_64 # as reported by `arch` or `uname -m`
          generator: Unix Makefiles

        - name: macOS_Intel
          os: macos-latest
          arch: Intel # as reported by Apple menu > About This Mac
          generator: Xcode

          # FIXME: maybe add Apple Silicon? Now that's something for discussion (see #2),
          # although it might not exist yet.

          # Windows (x86) config
        - name: Windows_32bit
          os: windows-latest
          arch: 32bit # as reported by Windows Settings > System > About
          generator: Visual Studio 17 2022

          # Windows (x64) config
        - name: Windows_64bit
          os: windows-latest
          arch: 64bit # as reported by Windows Settings > System > About
          generator: Visual Studio 17 2022

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Submodules Checkout
      uses: snickerbockers/submodules-init@v4

    - name: Dependencies
      run: |
        exec bash "scripts/ci/dependencies.sh"

    - name: Environment
      run: |
        source "scripts/ci/environment.sh"
    
    # Disabled because we don't have any codesigning certificates
    #
    # Please raise an issue if you have any possible solutions about this
    #- name: Install Apple codesigning certificates
    #  uses: apple-actions/import-codesign-certs@v1
    #  if: startswith( matrix.config.os, 'macos' ) && github.event_name == 'push' && github.repository_owner == 'audacity'
    #  with: 
    #    p12-file-base64: ${{ secrets.APPLE_CERTIFICATE }}
    #    p12-password: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}

    - name: Cache for .conan
      id: cache-conan
      uses: actions/cache@v2
      env:
        cache-name: cache-conan-modules
      with:
        path: ${{ env.CONAN_USER_HOME }}
        key: host-3-${{ matrix.config.name }}-${{ hashFiles('cmake-proxies/CMakeLists.txt') }}
        restore-keys: |
          host-3-${{ matrix.config.name }}-

    - name: Configure
      #env:
        # Apple code signing (currently broken)
        #APPLE_CODESIGN_IDENTITY: ${{ secrets.APPLE_CODESIGN_IDENTITY }}
        #APPLE_NOTARIZATION_USER_NAME: ${{ secrets.APPLE_NOTARIZATION_USER_NAME }}
        #APPLE_NOTARIZATION_PASSWORD: ${{ secrets.APPLE_NOTARIZATION_PASSWORD }}
      run: |
        exec bash "scripts/ci/configure.sh"

    - name: Build
      run: |
        exec bash "scripts/ci/build.sh"

    #- name: Install
    #  run: |
    #    exec bash "scripts/ci/install.sh"

    - name: Package
      run: |
        exec bash "scripts/ci/package.sh"

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: saucedacity_${{ matrix.config.name }}_${{ github.run_id }}_${{ env.GIT_HASH_SHORT }}
        path: |
          build/package/*
          !build/package/_CPack_Packages
        if-no-files-found: error
